.section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  padding: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.section.section-intro {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #7e07db;
  color: #fff;
}

.section.section-wash {
  background-color: #42e4cd;
  color: #fff;
}

.section.section-face-mask {
  background-color: #fff0e4;
  color: #441a36;
}

.section.section-wfh {
  background-color: #00d2de;
  color: #161718;
}

.animation-intro {
  width: 450px;
  margin-top: -40px;
  margin-bottom: 40px;
}

.animation-method {
  width: 450px;
}

.button {
  padding: 15px 20px;
  border-radius: 8px;
  background-color: transparent;
  box-shadow: -1px -1px 6px 0 hsla(0, 0%, 100%, 0.25), 1px 1px 6px 0 rgba(0, 0, 0, 0.3);
  opacity: 1;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  font-size: 16px;
  font-weight: 900;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  cursor: pointer;
}

.button:hover {
  box-shadow: -4px -4px 15px 0 hsla(0, 0%, 100%, 0.25), 4px 4px 15px 0 rgba(0, 0, 0, 0.3);
}

.button.button-pledge {
  display: inline-block;
  margin-top: 10px;
  box-shadow: -1px -1px 4px 0 hsla(0, 0%, 100%, 0.6), 1px 1px 4px 0 rgba(0, 0, 0, 0.3);
}

.button.button-pledge:hover {
  box-shadow: -4px -4px 15px 0 hsla(0, 0%, 100%, 0.5), 4px 4px 15px 0 rgba(0, 0, 0, 0.3);
}

.button.button-pledge.button-disabled {
  box-shadow: inset -1px -1px 4px 0 hsla(0, 0%, 100%, 0.6), inset 1px 1px 4px 0 rgba(0, 0, 0, 0.3);
}

.text-wrapper {
  width: 450px;
}

.title {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-family: Montserrat, sans-serif;
  font-size: 36px;
  line-height: 1.3em;
  font-weight: 800;
}

.paragraph {
  font-size: 16px;
  line-height: 1.35em;
  font-weight: 500;
}

.body {
  font-family: Montserrat, sans-serif;
  line-height: 1.3em;
}

.animation-scroll {
  position: absolute;
  bottom: 20px;
  width: 40px;
}

.container-wide {
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
}

.section-content {
  padding-right: 20px;
  padding-left: 20px;
}

.container-standard {
  max-width: 720px;
  margin-right: auto;
  margin-left: auto;
}

.subtitle {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-size: 18px;
  line-height: 1.35em;
  font-weight: 800;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.caption {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-family: Merriweather, serif;
  font-size: 16px;
  line-height: 1.35em;
  font-style: italic;
  font-weight: 300;
}

.quote {
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 0px;
  border-left-style: none;
  font-family: Merriweather, serif;
  font-size: 24px;
  line-height: 1.3em;
  font-style: italic;
  font-weight: 300;
}

.center-aligned {
  text-align: center;
}

.content-template-two-columns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.half-width {
  width: 49%;
  height: auto;
}

.floating-left {
  width: 50%;
  margin-right: 20px;
  margin-left: -280px;
  float: left;
}

.floating-left.custom-clean-hands {
  width: 260px;
  margin-top: -85px;
}

.floating-right {
  width: 60%;
  margin-right: -280px;
  margin-left: 20px;
  float: right;
}

.right-aligned {
  text-align: right;
}

.full-width {
  width: 100%;
}

.flexbox-center-aligned {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.link {
  color: #000;
}

.list {
  margin-bottom: 0.5em;
  padding-left: 1.1em;
  font-size: 16px;
  line-height: 1.35em;
  font-weight: 500;
}

.list-item {
  margin-bottom: 0.5em;
  list-style-type: disc;
}

.hanging-punctuation {
  text-indent: -0.5em;
}

@media screen and (max-width: 991px) {
  .floating-left {
    margin-left: 0px;
  }
  .floating-right {
    margin-right: 0px;
  }
}

@media screen and (max-width: 767px) {
  .section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .animation-intro {
    width: auto;
  }
  .animation-method {
    width: auto;
  }
  .text-wrapper {
    width: auto;
    margin-left: 0vw;
  }
  .content-template-two-columns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .half-width {
    width: 100%;
  }
  .floating-left {
    width: 50%;
  }
  .floating-right {
    width: 50%;
  }
}

@media screen and (max-width: 479px) {
  .title {
    font-size: 24px;
  }
  .quote {
    font-size: 20px;
  }
  .floating-left {
    width: 100%;
    margin-right: 0px;
    float: none;
  }
  .floating-right {
    width: 100%;
    margin-left: 0px;
    float: none;
  }
}