.w-embed-youtubevideo {
  width: 100%;
  position: relative;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/youtube-placeholder.2b05e7d68d.svg');
  background-size: cover;
  background-position: 50% 50%;
}

.w-embed-youtubevideo:empty {
  min-height: 75px;
  padding-bottom: 56.25%;
}

body {
  font-family: Montserrat, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

.section {
  width: 100%;
  height: 100vh;
}

.container-wide {
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
}

.container {
  max-width: 720px;
  margin: 10px auto;
}

.container.left-container {
  display: -ms-grid;
  display: grid;
  margin-left: 0px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.container.container-top-space {
  margin-top: 40px;
}

.section-content {
  padding-right: 20px;
  padding-left: 20px;
}

.title {
  margin-top: 100px;
  font-family: Lato, sans-serif;
  font-size: 36px;
  font-weight: 900;
}

.paragraph {
  margin-bottom: 10px;
  font-family: Lato, sans-serif;
  font-size: 18px;
  line-height: 1.3em;
  font-weight: 500;
  letter-spacing: 0px;
}

.subtitle {
  font-family: Lato, sans-serif;
  font-size: 18px;
  line-height: 1.3em;
  font-weight: 900;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.subtitle.text-subtitle {
  margin-top: 0px;
}

.body {
  letter-spacing: 0em;
}

.quote {
  margin-top: 100px;
  margin-right: auto;
  margin-bottom: 100px;
  padding: 0px;
  border-left-style: none;
  font-family: Merriweather, serif;
  font-size: 36px;
  line-height: 1.4em;
  font-style: italic;
  font-weight: 300;
  text-align: center;
  text-decoration: none;
  -o-object-fit: fill;
  object-fit: fill;
}

.quote.hanging-punctuation {
  margin-top: 40px;
  font-weight: 300;
  text-indent: -1.6em;
}

.caption {
  font-family: Merriweather, serif;
  font-size: 16px;
  line-height: 1.3em;
  font-style: italic;
  font-weight: 400;
}

.list {
  margin-bottom: 10px;
  padding-left: 20px;
  font-family: Lato, sans-serif;
  font-size: 18px;
  line-height: 1.3em;
  font-weight: 500;
  list-style-type: square;
}

.list-item {
  margin-bottom: 0.5em;
}

.image {
  margin-bottom: 40px;
}

.image-2 {
  margin-bottom: 20px;
}

.content-template-single-column.content-template-double-column {
  display: block;
}

.image-3 {
  text-align: center;
}

.image-4 {
  margin-top: 20px;
}

.content-template-double-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1280px;
  margin: 60px auto 20px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  -o-object-fit: fill;
  object-fit: fill;
}

.content-template-double-column.content-template-five-columns {
  margin-top: 0px;
}

.content-template-double-column.concent-template-double-column-higher {
  margin-top: 20px;
  margin-bottom: 100px;
}

.column-half-width {
  width: 49%;
  margin-top: 0px;
}

.column-half-width.column-five-width {
  width: 20%;
}

.column-half-width.column-half-width-taller {
  margin-top: 40px;
}

.column-half-width.column-half-width-taller.column-seventy-30 {
  width: 70%;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
}

.column-half-width.column-half-width-taller.column-seventy-30.column-seventy-30-shorter {
  width: 30%;
}

.column-half-width.column-half-width-taller.column-seventy-30.column-seventy-30-shorter.column-height {
  margin-top: 60px;
}

.column-half-width.column-half-width-taller.column-seventy-30.column-sixty {
  width: 60%;
  margin-top: 80px;
}

.column-half-width.column-half-width-taller.column-seventy-30.column-height {
  margin-top: 60px;
  margin-right: 0px;
  padding-right: 40px;
}

.column-half-width.column-half-width-taller.column-seventy-30.video-right-margin {
  margin-top: 60px;
  margin-right: 0px;
  padding-top: 20px;
  padding-right: 20px;
}

.column-half-width.column-half-width-taller.column-seventy-30.video-margin-left {
  margin-top: 60px;
  padding-top: 20px;
  padding-left: 20px;
}

.column-half-width.column-half-width-taller.image-smaller {
  width: 40%;
}

.column-half-width.column-half-width-taller.column-sixty {
  width: 60%;
}

.column-half-width.column-half-width-taller.column-forty {
  width: 40%;
  margin-top: 60px;
}

.column-half-width.column-half-width-taller.column-thirty {
  width: 30%;
  margin-top: 80px;
}

.column-half-width.column-half-width-taller.column-thirty.column-height {
  margin-top: 60px;
}

.content-template-double-images {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 720px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.image-5 {
  max-height: 96%;
}

.text-subtitle {
  font-family: Lato, sans-serif;
}

.quote-2 {
  padding: 0px;
  border-left-style: none;
  font-family: Merriweather, serif;
  font-size: 24px;
  line-height: 1.3em;
  font-style: italic;
  font-weight: 300;
}

.quote-2.hanging-punctuation {
  margin-top: 1em;
  margin-bottom: 1em;
  font-weight: 300;
  text-indent: -0.5em;
}

.paragraph-2 {
  margin-bottom: 0.5em;
  font-size: 16px;
  line-height: 1.4em;
  font-weight: 500;
}

.caption-2 {
  z-index: 12;
  margin-top: 0.5em;
  margin-bottom: 2em;
  font-family: Merriweather, serif;
  font-size: 18px;
  line-height: 1.4em;
  font-style: italic;
}

.floating-left {
  width: 50%;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-left: -280px;
  float: left;
}

.list-2 {
  margin-bottom: 0px;
  padding-left: 1.1em;
  font-size: 16px;
  line-height: 1.4em;
  font-weight: 500;
  list-style-type: disc;
}

.subtitle-2 {
  margin-top: 2em;
  margin-bottom: 1em;
  font-size: 16px;
  line-height: 1.3em;
  font-weight: 800;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.floating-right {
  width: 50%;
  margin-right: -280px;
  margin-bottom: 20px;
  margin-left: 20px;
  float: right;
}

.container-2 {
  overflow: visible;
  max-width: 720px;
  margin-right: auto;
  margin-left: auto;
}

.quote-3 {
  padding: 0px;
  border-left-style: none;
  font-family: Merriweather, serif;
  font-size: 24px;
  line-height: 1.3em;
  font-style: italic;
}

.quote-3.hanging-punctuation {
  margin-top: 1em;
  margin-bottom: 1em;
  font-weight: 300;
  text-indent: -0.5em;
}

.column-full-width {
  width: 100%;
  margin-top: 40px;
}

.column-full-width.full-width-no-top {
  margin-top: 0px;
}

.column-five-width {
  width: 20%;
  margin-right: 0px;
  padding-right: 10px;
  padding-left: 0px;
}

.youtube {
  position: relative;
  display: block;
  width: 100%;
  margin-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

.youtube.video-right-column {
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 0px;
}

.youtube-2 {
  margin-right: 0px;
  padding-right: 0px;
}

.image-6 {
  max-width: 100%;
}

.image-7 {
  max-width: 100%;
}

.image-8 {
  display: block;
}

.image-9 {
  max-width: 100%;
}

.image-10 {
  max-width: 59%;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
}

.image-11 {
  max-width: 75%;
}

.image-12 {
  max-width: 84%;
}

.image-13 {
  max-width: 85%;
}

@media screen and (max-width: 991px) {
  .floating-left {
    margin-left: 0px;
  }
  .floating-right {
    margin-right: 0px;
  }
}

@media screen and (max-width: 767px) {
  .quote-2.hanging-punctuation {
    font-size: 20px;
    font-weight: 400;
  }
  .quote-3.hanging-punctuation {
    font-size: 20px;
    font-weight: 400;
  }
}

@media screen and (max-width: 479px) {
  .caption-2.right-aligned {
    text-align: left;
  }
  .floating-left {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 0px;
    float: none;
  }
  .floating-right {
    width: 100%;
    margin-bottom: 0px;
    margin-left: 0px;
    float: none;
  }
}