.section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.section.section-intro {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  background-color: #7e07db;
}

.section.section-wash {
  background-color: #42e4cd;
  color: #fff;
}

.section.section-face-mask {
  background-color: #fff0e4;
  color: #441a36;
}

.section.section-wfh {
  background-color: #00d2de;
  color: #161718;
}

.button {
  margin-top: 40px;
  padding: 15px 20px;
  border-radius: 8px;
  background-color: #7e07db;
  box-shadow: 1px 1px 6px 0 rgba(0, 0, 0, 0.3), -1px -1px 6px 0 hsla(0, 0%, 100%, 0.3);
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  cursor: pointer;
}

.button:hover {
  box-shadow: 4px 4px 15px 0 rgba(0, 0, 0, 0.3), -4px -4px 15px 0 hsla(0, 0%, 100%, 0.3);
}

.animation-lottie {
  width: 450px;
}

.description {
  width: 30vw;
  margin-left: 78px;
}

.animal-friends-math {
  position: relative;
  top: 3px;
  margin-top: 63px;
  border-bottom: 1px solid #000;
  font-family: Raleway, sans-serif;
  font-size: 32px;
  line-height: 1.3em;
  font-weight: 900;
  text-align: center;
}

.intro {
  position: relative;
  top: 165px;
  bottom: -200px;
  margin-top: -19px;
  margin-bottom: 20px;
  font-family: 'Roboto Slab', sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  font-weight: 400;
}

.intro.center-aligned.preface {
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 22px;
  font-weight: 300;
}

.intro.preface {
  font-family: 'PT Sans', sans-serif;
  font-size: 22px;
}

.body {
  font-family: Montserrat, sans-serif;
}

.container-wide {
  width: auto;
  max-width: 1280px;
  min-height: 455.625px;
  margin: 143px auto -95px;
}

.container {
  max-width: 720px;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
}

.sectionc-content {
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 20px;
  padding-left: 20px;
}

.body-2 {
  font-family: Montserrat, sans-serif;
}

.reasearch {
  position: relative;
  left: 0%;
  top: 5%;
  right: 0%;
  bottom: 25px;
  margin-top: 51px;
  font-family: Montserrat, sans-serif;
  font-size: 24px;
  line-height: 1.3em;
  font-weight: 700;
  text-align: left;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.quote {
  position: static;
  padding: 0px;
  border-left-style: none;
  font-family: Merriweather, serif;
  font-size: 24px;
  line-height: 1.3em;
  font-style: italic;
}

.quote.hanging-punctuation {
  position: relative;
  top: 0px;
  right: -29px;
  bottom: -48px;
  margin-top: 35px;
  margin-bottom: -13px;
  padding-top: 0px;
  padding-right: 75px;
  padding-left: 38px;
  clear: none;
  border-left-width: 0px;
  font-family: Merriweather, serif;
  font-size: 18px;
  font-style: italic;
  font-weight: 300;
  text-align: left;
  text-indent: -0.5em;
  text-transform: none;
  -o-object-fit: fill;
  object-fit: fill;
}

.caption {
  position: relative;
  top: 0px;
  margin-top: 1.6em;
  margin-bottom: 19px;
  padding-right: 125px;
  padding-left: 46px;
  font-family: Merriweather, serif;
  font-size: 10px;
  line-height: 1.3em;
  font-style: italic;
}

.caption.center-aligned {
  position: absolute;
  margin-top: -4em;
  float: left;
}

.list {
  padding-left: 1.1em;
  font-size: 16px;
  line-height: 1.3em;
  font-weight: 500;
}

.list-item {
  font-size: 14px;
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.center-aligned {
  text-align: center;
}

.list-item-2 {
  margin-bottom: 0.5em;
}

.list-item-3 {
  margin-bottom: 0.5em;
}

.list-item-4 {
  margin-bottom: 0.5em;
}

.content-template-single-column {
  position: static;
  top: 35px;
  bottom: -86px;
}

.content-template-double-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.content-template-double-column.flex-center-aligned {
  margin-top: -51px;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.column-half-width {
  position: relative;
  display: block;
  width: 49%;
}

._3-boys {
  position: relative;
  top: 0px;
  bottom: -57px;
  display: block;
  overflow: scroll;
  margin: 79px auto 10px;
}

.flex-center-aligned {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.column-full-width {
  width: 100%;
  padding-top: 148px;
}

.floating-left {
  width: 50%;
  margin-right: 20px;
  margin-bottom: 10px;
  margin-left: -280px;
  float: left;
}

.floating-right {
  width: 50%;
  margin-right: -280px;
  margin-left: 20px;
  float: right;
}

.image-2 {
  float: right;
}

.right-aligned {
  text-align: right;
}

.illustrated-kids-and-numbers {
  position: static;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-right: 0px;
  padding-left: 110px;
}

.video {
  position: relative;
  top: 3px;
  bottom: 41px;
  width: 750px;
  margin-top: 13px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  -o-object-fit: fill;
  object-fit: fill;
}

.hundred {
  position: relative;
  left: auto;
  top: 63px;
  right: 0%;
  bottom: -16%;
  z-index: 0;
  display: inline-block;
  overflow: scroll;
  width: auto;
  margin-top: 200px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 27px;
  float: none;
  -o-object-fit: fill;
  object-fit: fill;
  -o-object-position: 50% 0%;
  object-position: 50% 0%;
}

.heading-4 {
  position: relative;
  bottom: -32px;
  margin-bottom: 3px;
  font-family: Raleway, sans-serif;
  font-size: 16px;
}

.montessori-counting {
  position: relative;
  top: 54px;
  padding-top: 94px;
}

._1-1 {
  position: relative;
  top: 13px;
  margin-top: 29px;
}

.math {
  position: relative;
  top: 25px;
  margin-top: 98px;
}

.correspondence {
  position: relative;
  top: 16px;
  font-family: 'Roboto Slab', sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  font-weight: 400;
}

.number {
  position: relative;
  top: 89px;
  bottom: -41px;
  margin-top: 98px;
}

.recog {
  position: relative;
  top: 92px;
  font-family: 'Roboto Slab', sans-serif;
  font-size: 16px;
  line-height: 1.5em;
}

.research {
  margin-top: 35px;
  font-family: 'Roboto Slab', sans-serif;
  font-size: 16px;
  line-height: 1.5em;
}

.introduction {
  position: relative;
  top: -32px;
  max-width: 720px;
  font-family: 'Roboto Slab', sans-serif;
  font-size: 16px;
  line-height: 1.5em;
}

.proj-id {
  position: relative;
  top: -22px;
  font-family: 'Roboto Slab', sans-serif;
  font-size: 16px;
  line-height: 1.5em;
}

.proj {
  position: relative;
  top: 111px;
  margin-top: 200px;
}

.main-heading {
  position: relative;
  margin-top: 108px;
  margin-bottom: 44px;
  border-bottom: 1px solid #000;
  font-family: Raleway, sans-serif;
  font-weight: 900;
  text-align: center;
}

.proto-explain {
  position: relative;
  top: auto;
  bottom: -200px;
  margin-top: 200px;
  font-family: 'Roboto Slab', sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  -o-object-fit: contain;
  object-fit: contain;
}

.html-embed {
  position: relative;
  top: 200px;
  width: 75%;
  max-width: none;
  margin-right: auto;
  margin-left: auto;
  padding-left: 48px;
  float: right;
  clear: none;
}

.citation {
  position: relative;
  top: 127px;
  width: 400px;
  margin-top: -124px;
  margin-right: -184px;
  margin-left: 83px;
  padding-top: 3px;
  font-family: Georgia, Times, 'Times New Roman', serif;
  font-size: 10px;
  line-height: 10px;
}

.proto-head {
  margin-top: 130px;
  border-bottom: 1px solid #000;
  font-family: Raleway, sans-serif;
  font-size: 32px;
  font-weight: 900;
  text-align: center;
}

.html-embed-2 {
  height: 500px;
  min-height: 455.625px;
  margin-top: 25px;
  margin-bottom: 200px;
  padding-top: 0px;
  padding-bottom: 140px;
}

.div-block-2 {
  position: relative;
  top: 130px;
  margin-top: 159px;
}

.paragraph {
  position: relative;
  left: 86px;
  max-width: 720px;
  margin-top: -95px;
  margin-left: 194px;
  font-family: 'Roboto Slab', sans-serif;
  font-size: 16px;
  line-height: 1.5em;
}

@media screen and (max-width: 991px) {
  .caption.center-aligned {
    position: absolute;
  }
  .floating-left {
    margin-left: 0px;
  }
  .floating-right {
    margin-right: 0px;
  }
}

@media screen and (max-width: 767px) {
  .animal-friends-math {
    font-size: 24px;
  }
  .quote.hanging-punctuation {
    font-size: 20px;
  }
  .column-half-width {
    width: 100%;
  }
}

@media screen and (max-width: 479px) {
  .quote.hanging-punctuation {
    font-weight: 400;
  }
  .caption.center-aligned {
    font-size: 12px;
  }
  .floating-left {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 0px;
    float: none;
  }
  .floating-right {
    width: 100%;
    margin-left: 0px;
    float: none;
  }
}

