.section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.section.section-intro {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  background-color: #7e07db;
}

.section.section-wash {
  background-color: #42e4cd;
  color: #fff;
}

.section.section-face-mask {
  background-color: #fff0e4;
  color: #441a36;
}

.section.section-wfh {
  background-color: #00d2de;
  color: #161718;
}

.button {
  margin-top: 40px;
  padding: 15px 20px;
  border-radius: 8px;
  background-color: #7e07db;
  box-shadow: 1px 1px 6px 0 rgba(0, 0, 0, 0.3), -1px -1px 6px 0 hsla(0, 0%, 100%, 0.3);
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  cursor: pointer;
}

.button:hover {
  box-shadow: 4px 4px 15px 0 rgba(0, 0, 0, 0.3), -4px -4px 15px 0 hsla(0, 0%, 100%, 0.3);
}

.animation-lottie {
  width: 450px;
}

.description {
  width: 30vw;
  margin-left: 78px;
}

.title {
  margin-top: 2em;
  margin-bottom: 0.5em;
  font-size: 36px;
  line-height: 1.3em;
  font-weight: 800;
  text-transform: capitalize;
}

.paragraph {
  margin-top: 0px;
  margin-bottom: 0.5em;
  padding-top: 0em;
  font-size: 16px;
  line-height: 1.4em;
  font-weight: 500;
}

.body {
  font-family: Montserrat, sans-serif;
}

.container-wide {
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
}

.container {
  overflow: visible;
  max-width: 720px;
  margin-right: auto;
  margin-left: auto;
}

.section-content {
  padding-right: 20px;
  padding-left: 20px;
}

.subtitle {
  margin-top: 4em;
  margin-bottom: 2em;
  font-size: 16px;
  line-height: 1.3em;
  font-weight: 800;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.quote {
  padding: 0px;
  border-left-style: none;
  font-family: Merriweather, serif;
  font-size: 24px;
  line-height: 1.3em;
  font-style: italic;
}

.quote.hanging-punctuation {
  margin-top: 1em;
  margin-bottom: 1em;
  font-weight: 300;
  text-indent: -0.5em;
}

.caption {
  z-index: 12;
  margin-top: 0.5em;
  margin-bottom: 2em;
  font-family: Merriweather, serif;
  font-size: 16px;
  line-height: 1.4em;
  font-style: italic;
  text-align: center;
}

.caption.center-aligned {
  text-align: center;
}

.caption.left {
  text-align: left;
}

.list {
  margin-bottom: 20px;
  padding-left: 1.1em;
  font-size: 16px;
  line-height: 1.4em;
  font-weight: 500;
  list-style-type: disc;
}

.list-item {
  margin-bottom: 0.5em;
}

.content-template-single-column {
  margin-top: 4em;
}

.center-aligned {
  text-align: center;
}

.content-template-double-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.column-half-width {
  width: 49%;
  padding-top: 0px;
}

.flex-center-aligned {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.column-full-width {
  width: 100%;
}

.floating-left {
  width: 50%;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-left: -280px;
  float: left;
}

.floating-right {
  width: 50%;
  margin-right: -280px;
  margin-bottom: 20px;
  margin-left: 20px;
  float: right;
}

.right-aligned {
  text-align: right;
}

.image {
  width: 100%;
  padding-right: 0em;
  padding-left: 0em;
}

.button1 {
  margin-right: 220px;
  margin-bottom: 10px;
  padding-right: 10%;
  padding-bottom: 10px;
  border-style: solid;
  border-width: 0px;
  border-color: rgba(0, 0, 0, 0.53);
  border-radius: 5px;
  box-shadow: 1px 1px 3px 0 #000;
}

.button1.havor {
  box-shadow: inset 3px 3px 3px 0 rgba(0, 0, 0, 0.24);
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

@media screen and (max-width: 991px) {
  .floating-left {
    margin-left: 0px;
  }
  .floating-right {
    margin-right: 0px;
  }
}

@media screen and (max-width: 767px) {
  .title {
    font-size: 25px;
  }
  .quote.hanging-punctuation {
    font-size: 20px;
    font-weight: 400;
  }
  .column-half-width {
    width: 100%;
  }
}

@media screen and (max-width: 479px) {
  .caption.right-aligned {
    text-align: left;
  }
  .floating-left {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 0px;
    float: none;
  }
  .floating-right {
    width: 100%;
    margin-bottom: 0px;
    margin-left: 0px;
    float: none;
  }
}